<div class="row login-box">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">欢迎登录</div>
            <div class="panel-body">
                <form ng-submit="doLogin();">
                    <div class="form-group">
                        <label for="">账户：</label>
                        <input type="text" class="form-control" ng-model="userEntity.username" placeholder="键入您的账户"/>
                    </div>
                    <div class="form-group">
                        <label for="">密码：</label>
                        <input type="password" class="form-control" ng-model="userEntity.password" placeholder="键入您的密码"/>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" ng-model="userEntity.rememberMe"/>记住我</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" style="width: 100%;" >登录</button>
                        </div>
                        <div class="login-tip-box">
                            <span>还没有账户？<a href="#/register">注册</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>